[Desktop Entry]
Version=1.0
GenericName=Browse snap store
Name[en_US]=QSnapStore
Comment=Browse snap store
Name=QSnapStore
Type=Application
Icon=qsnapstore
Keywords=Repositories;Preferences;Program;Software;App;Store;Snap
Exec=qsnapstore %F
Categories=System;PackageManager;Qt;
Terminal=false
StartupNotify=false
